<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Skedgit</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="..../css/fourth_view.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <!-- Testing View -->
</head>

<body>

<div class="container">
    <div class="content center col m8 offset-m2 z-depth-2">



      <div class="row" style="margin: 0 auto;">
          <h5 class="card-panel teal lighten-2" id="heading" style="color: white;" href="#"><%=user.facebook.name%> Schedule's</h5><br>
        <div class="responsive-table ">
      <table>
        <tbody id="searchList">
          <tr id="trList"  style="height: 150px;border-top: 1px solid black;border-bottom: 1px solid black">
            <% user.schedules.forEach(function(s){ %>
              <%= '<th>'+ s.name +'</th>'%>
              <% s.businesses.forEach(function(b){ %>
                <%= "<td class='center'>" + b.name + "<br><img class='center' src='" + b.image_url + "'><br>" + b.times.start + " to " + b.times.end + "</td>" %>
              <% }) %>
            <% }) %>
          </tr>
        </tbody>
      </table>
        </div>
      </div> <!-- /row -->
    </div> <!-- /content center col -->
</div> <!-- /container -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
<script type="text/javascript">
  var prop = $('#searchProp')
  var search = $('#searchList')
  var tr = $('#trList')
  var save = $('#saveSchedule')
    $.ajax({
      method: "get",
      url: "/users/:id"
    }).done(function(user){
      user.schedules.forEach(function(s){
      tr.append(
        "<td class='center'>" + user + "<br><img src='"+ user +"'>" + user + "</td>"
      )
      })
    })
</script>
</body>
</html>
