body {
  background: #FdFdFd;
}

.content {
  /*border-radius: 2px;*/
  background: #FFF;
  margin-top: 125px;
  padding: 15px;
  /*box-shadow: 1px 1px 3px #EEE;*/
}

a.btn {
  margin: 10px;
}
img {
  border-radius: 25%;
}
