/*background video */
video#bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url("https://www.youtube.com/watch?v=bgEDSDsWbpY") no-repeat;
    background-size: cover;
}

/*facebook button*/
#facebookbtn {
  background: hsl(221, 39%, 44%);
  color: white;
  padding: 5 15 5 15;
  border-radius: 3px;
}
#whitebg {
  background: rgba(255,255,255,0.8);
  padding: 20px;
  margin-top: 75px;
  /*width: 50%;
  height: 60%*/
}
