<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Skedgit</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/fourth_view.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <!-- Testing View -->
</head>

<body>

<div class="container">
    <div class="content center col m8 offset-m2 z-depth-2">
      <h5 class="header col s12 light">Schedules</h5>

      <div class="progress">
          <div class="determinate" style="width: 90%"></div>
      </div>

      <div class="row" style="margin: 0 auto;">
          <h5 class="card-panel teal lighten-2" id="heading" style="color: white;" href="#">Location</h5><br>
        <div class="responsive-table ">

      <table>
        <thead >
          <tr class="card-panel teal lighten-2"id="searchProp" >

          </tr>
        </thead>

        <tbody id="searchList">
          <tr id="trList"  style="height: 150px;border-top: 1px solid black;border-bottom: 1px solid black">
          </tr>
        </tbody>
      </table>
      <% if(user.name) { %>
        <input id="schedule-name" type="text" name="name" value="" placeholder="Schedule Name">
        <a id="saveSchedule"class="btn teal active waves-effect waves-light btn">Save Schedule</a >
      <% } %>
        </div>
      </div> <!-- /row -->
    </div> <!-- /content center col -->
</div> <!-- /container -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
<script type="text/javascript">
  var prop = $('#searchProp')
  var search = $('#searchList')
  var tr = $('#trList')
  var save = $('#saveSchedule')
  var choice = [{ id:"tar-and-roses-santa-monica",rating_img_url_small: "",category: "Restaurant", image_url: "https://s3-media4.fl.yelpcdn.com/bphoto/OrWLCrnxBfhEjeyDCPC19w/ms.jpg", name:"Tar & Roses" },{id:"the-misfit-restaurant-bar-santa-monica", image_url: "https://s3-media4.fl.yelpcdn.com/bphoto/Dvb6PZA56JLYRA-SNl5Ivw/ms.jpg", name: "The Misfit Restaurant + Bar", category: "Bar"},{id:'roccos-cheesecake-santa-monica',image_url: "https://s3-media4.fl.yelpcdn.com/bphoto/BVZXOxC_Elyda1BU65IMig/ms.jpg",category: "Desert",name: "Rocco's Cheesecake"}]
function fillPage() {
  choice.forEach(function(b){
    prop.append(
      '<th class="center">'+ b.category + '</th>'
    )
    tr.append(
      "<td class='center'>" + b.name + "<br><img src='"+ b.image_url +"'></td>"
    )
  })
  }

  save.on('click', function(){
    console.log('on clicked');
    var newSchedule = {
      name: $('#schedule-name').val(),
      businesses: []
    }
    console.log("newSchedule",newSchedule);
    choice.forEach(function(c){
      newSchedule.businesses.push(c)
    })
    $.ajax({
      method: "post",
      url: "/schedules",
      data: JSON.stringify(newSchedule),
      contentType: 'application/json'
    }).done(function(){
      Materialize.toast('Schedule Saved!', 3000, 'rounded green')
    })
  })

  fillPage()


</script>

</body>

</html>
