<!-- Compiled and minified CSS -->
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">

 <!-- Compiled and minified JavaScript -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
 <!-- Testing View -->



<div class="page-header"

    <h1><%= user.name %></h1>

    <a href="" class="btn btn-default btn-sm">Logout</a>

</div>

<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
          <% if (user.name){%>
            <h3>(Insert username here)</h3>

            <p>
                <strong>Name</strong>: <%= user.name %><br>
                <strong>id</strong>: <%= user._id %><br>
                <strong>schedules</strong>: <%= Not yet routed %><br>
                <strong>password</strong>: <%= user.password %>
            </p>
    </div>
</div>
