<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
<!-- Testing View -->


<div class="text-center col-md-8 col-md-offset-2">
    <h1><span class="fa fa-lock"></span>Suggested Schedules</h1>
    <hr>

      <div class="row">


            <div class = "col s4 red ">
                <span class = "flow-text">Step 1</span>
            </div>
            <div class = "col s4 green ">
                <span class = "flow-text">Step 2</span>
            </div>
            <div class = "col s4 blue ">
                <span class = "flow-text">Step 3</span>
            </div>
            <br><br><br>

            <div class = "col s12 grey ">
                <span class = "flow-text">Restaurant/Bars/Whatever</span>
            </div>
            <br><br><br>

            <div class = "container col s12 blue ">
                <span class = "flow-text">Yelp</span>
            </div>


            <br><br><br>

            <div class = "container col s12 green ">
                <span class = "flow-text">Yelp</span>
            </div>

            <br><br><br>

            <div class = "container col s12 red ">
                <span class = "flow-text">Yelp</span>
            </div>
