<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
<!-- Testing View -->


<div class="text-center col-md-8 col-md-offset-2">
    <h1><span class="fa fa-lock"></span>Your Schedule</h1>
    <hr>

    <body>
      <table class = "bordered highlight">
           <thead>
             <tr>
                 <th data-field="id">Test</th>
                 <th data-field="name">Test</th>
                 <th data-field="price">Test</th>
             </tr>
           </thead>

           <tbody>
             <tr>
               <td class = "red">Bar</td>
               <td>test</td>
               <td>$200</td>
             </tr>

           </tbody>
         </table>
  </body>


</div>
